.venv
.vscode
__pycache__
*.pyc
.ipynb_checkpoints
support_files
*.csv
*.json
*.xlsx
*.log
checkpoints/
backup_*.sql
jars
data
.env
.env.*
.tor_data
extensions/*/
!extensions/.gitkeep
tools/
tests/
extensions
docs/
notebooks