.venv
.vscode
__pycache__
*.pyc
.ipynb_checkpoints
support_files
*.csv
*.json
*.xlsx
*.log
checkpoints/
backup_*.sql
jars
data
.env
.env.*
pipeline/cian/extensions/*/
!pipeline/cian/extensions/.gitkeep
pipeline/ml/moscow_raions.geojson
airflow/logs
dbt/target
dbt/dbt_packages
dbt/logs

dbt/.user.yml
docs/
