pandas
numpy
matplotlib
seaborn
scikit-learn
statsmodels
openpyxl
plotly
patchright
playwright-stealth
beautifulsoup4
psutil
psycopg2-binary
pyspark
kagglehub
pyyaml
python-dotenv
requests
remotezip
stream-unzip
tqdm
jupyter
jupyterlab
black
isort
